@tailwind base;
@tailwind components;
@tailwind utilities;

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
}
